* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/*Banner Section*/
.banner-container {
    max-width: 100%;
    height: 430px;
    padding: 100px 0;
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-body-content {
    max-width: 525px;
    text-align: right;
    position: absolute;
    right: 120px;
}
.banner-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}
.content-text {
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 30px;
}
.primary-btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    background: #F15B22;
    border: 0;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
}
/*About Section*/
.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 150px;
}
.profile-pic img {
    width: 400px;
}
.profile-info {
    width: 450px;
}
.profile-info-title {
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.profile-info-text {
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 20px;
}
.profile-info-list {
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
ul>.profile-info-list{
    list-style: none;
}
.profile-info-list>i {
    color: #16D887;
}
/*Planning Section*/
.plan {
    padding: 50px 200px;
}
.plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}
.planning-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.plan-box {
    text-align: center;
}
.plan-name {
    color:#151414;
    font-size: 20px;
    font-weight: 700;
}
.plan-text {
    color: #737272;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
/*Newsletter Section*/
.newsletter {
    width: 900px;
    height: 220px;
    margin: 100px auto;
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.newsletter-container {
    padding: 45.5px 40px;
    background-image: url('images/gradient2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.news-title {
    width: 50%;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.secondary-btn {
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    padding: 10px 15px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/*Footer Section*/
.footer {
    display: flex;
    padding: 100px 180px;
    background-color: #151414;
    justify-content: space-between;
}
.footer-column {
    width: 45%;
}
.footer-title {
    color: #F8F8F8;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}
p.footer-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 15px;
}
.footer-text-info {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 25px;
}
.social-icon img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.footer-contact-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer-column input, button {
    display: block;
}
.footer-column input {
    padding: 12px;
    font-size: 12px;
    width: 60%;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #FFF;
}
.footer-credit {
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    background-color: #F15B22;
}
.footer-credit > p > strong {
    cursor: pointer;
}